.container {
	min-height: 300px;
}
#front-page {
	text-align: center;
	width: 100%;
}
#input_url {
	display: inline-block;
	font-size: 1.7em;
	height: 1.3em;
	width: 80%;
}
.btn {
	display: inline-block;
	font-size: 1.2em;
	height: 1.8em;
	width: 200px;
}
.btn-bl {
	background-color: #0088cc;
}

code {
	border-radius: 4px;
	font-size: 90%;
}

/* CSV File Validataion table */

#file_validation {
	width: 90%;
	font-size: 1.4em;
	border: 1px solid gray;
}

#file_validation th {
	text-align: left;
	padding: 10px;
}
#file_validation td {
	text-align: center;
	padding: 10px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#file-count {
	background-color: gray;
}
#csv-yes {
	background-color: green;
}
#csv-no {
	background-color: #f2dede;
}
#invalid-csv-detail {
	width: 89.85%;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: #f2dede;
}
#invalid-csv-detail-text {
	padding: 10px;
}


/* Progress Bar */

progress {
	width: 80%;
	display: block;
	margin: 15px;
}
.pgraph {
	width: 500px; /* width and height are arbitrary, just make sure the #bar styles are changed accordingly */
	height: 30px;
	border: 1px solid #888; 
	background: rgb(168,168,168);
	background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(204,204,204,1) 23%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,168,168,1)), color-stop(23%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
	background: -o-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
	background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#cccccc',GradientType=0 );
	background: linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
	position: relative;
}
#bar {
	height: 29px; /* Not 30px because the 1px top-border brings it up to 30px to match #graph */
	background: rgb(255,197,120); 
	background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(244,128,38,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(244,128,38,1))); 
	background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
	background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
	background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
	background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
	border-top: 1px solid #fceabb;
}
#bar p { position: absolute; text-align: center; width: 100%; margin: 0; line-height: 30px; }
.error {
	/* These styles are arbitrary */
	background-color: #fceabb;
	padding: 1em;
	font-weight: bold;
	color: red;
	border: 1px solid red;
}
